.destinations {
    padding-top: 96px;
    padding-bottom: 200px;
    overflow-x: hidden;
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 49px;
    }
    &__content {
        max-width: 456px;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        color: #0F1F1C;
    }
    &__title {
        font-weight: 600;
        font-size: 55px;
        line-height: 82px;
        color: #0F1F1C;
        margin-bottom: 15px;
    }
    &__text {
        font-size: 25px;
        line-height: 38px;
        color: $main-color-second;
        margin-bottom: 60px;
    }

    &__slider {
        width: 1110px;
        flex-shrink: 0;
        height: 456px;
    }
    .slider {
        position: relative;
        &__btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -27px;
            width: 68px;
            height: 68px;
            border-radius: 50%;
            border: none;
            background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            transition: all 0.2s ease-in;
            &:hover {
                filter: contrast(200%);
            }
        }
        &__item {
            margin-top: 27px;
            min-width: 335px;
            height: 402px;
            border-radius: 35px;
            object-fit: cover;
            transition: all 0.2s ease-in;
        }
    }
    .slider .center .slider__item {
        margin-top: 0;
        max-width: 380px;
        height: 456px;
        object-fit: cover;
    }

}